body{
    background-color: rgb(62, 37, 54);
    margin: 0;
}

p{
    font-size: 3rem;
}
.list{
    color: white;
    font-weight: 90000;
}   

div#header{
    background-image: url("https://preview.redd.it/v3t8pqqlm3571.jpg?width=1080&crop=smart&auto=webp&s=1b77670fd14cff18fba14354011457723c646b2c");
    /*height: 20rem;*/
    border-radius: 0 0 3em 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 5%; */
    padding: 5em 1em 5em 1em;
    color: white;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: 0.3s;
    color: rgb(119, 119, 251);
}

.nav-links li a:hover{
    background-color:rgb(134, 0, 146);
}

.title{
    text-align: center;
    padding: 1em
}
.current{
    text-decoration: underline dotted rgb(183, 0, 255) 0.3em;
}
.accordion-header{
    width: 100%;
    Background-color: purple;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}

.accordion-content{
    display: none;
}
.accordion-header:hover{
    Background-color: rgb(82, 0, 82);
}

.text {
    font-size: 1rem;
}

.hidden { 
    display: none !important;/**"!important is not a coment it make the hidden have more importance or somting like that**/
}

.blog-entry{
    display: flex;
    align-items: center;
    gap: 2em; 
    padding: 2%;
    margin-bottom: 2em;
}

.blog-entry img{
    width: 40%;
    border-radius: 0 1.5em 1.5em 0;
}

#enter-password{
    text-align: center;
}

#enter-password input{
    font-size: 1.5em;
    border-radius: 0.5em;
    border: 0;
    padding: 0.2em;
    width: 40%;
}

#enter-password button{
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 7%;
}

#password-field{
    display: flex;
    justify-content: center;
    gap: 1em;
}


